<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>XHC@14000000</key>
	<dict>
		<key>line</key>
		<string>            XHC@14000000  &lt;class AppleIntelCNLUSBXHCI, id 0x1000002c4</string>
		<key>indent</key>
		<integer>12</integer>
		<key>id</key>
		<string>0x1000002c4</string>
		<key>name</key>
		<string>XHC</string>
		<key>type</key>
		<string>AppleIntelCNLUSBXHCI</string>
		<key>items</key>
		<dict/>
		<key>address</key>
		<string>14000000</string>
		<key>ports</key>
		<dict>
			<key>01000000</key>
			<dict>
				<key>line</key>
				<string>              HS01@14100000  &lt;class AppleUSB20XHCIPort, id 0x10000032b</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x10000032b</string>
				<key>name</key>
				<string>HS01</string>
				<key>type</key>
				<string>AppleUSB20XHCIPort</string>
				<key>items</key>
				<array/>
				<key>full_name</key>
				<string>HS01@14100000</string>
				<key>address</key>
				<string>14100000</string>
				<key>port</key>
				<string>01000000</string>
			</dict>
			<key>02000000</key>
			<dict>
				<key>line</key>
				<string>              HS02@14200000  &lt;class AppleUSB20XHCIPort, id 0x10000032c</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x10000032c</string>
				<key>name</key>
				<string>HS02</string>
				<key>type</key>
				<string>AppleUSB20XHCIPort</string>
				<key>items</key>
				<array/>
				<key>full_name</key>
				<string>HS02@14200000</string>
				<key>address</key>
				<string>14200000</string>
				<key>port</key>
				<string>02000000</string>
			</dict>
			<key>03000000</key>
			<dict>
				<key>line</key>
				<string>              HS03@14100000  &lt;class AppleUSB20XHCIPort, id 0x100000326</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x10000032d</string>
				<key>name</key>
				<string>HS03</string>
				<key>type</key>
				<string>AppleUSB20XHCIPort</string>
				<key>items</key>
				<array/>
				<key>full_name</key>
				<string>HS03@14100000</string>
				<key>address</key>
				<string>14100000</string>
				<key>port</key>
				<string>03000000</string>
				<key>enabled</key>
				<true/>
			</dict>
			<key>04000000</key>
			<dict>
				<key>line</key>
				<string>              HS04@14200000  &lt;class AppleUSB20XHCIPort, id 0x100000327</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x10000032e</string>
				<key>name</key>
				<string>HS04</string>
				<key>type</key>
				<string>AppleUSB20XHCIPort</string>
				<key>items</key>
				<array/>
				<key>full_name</key>
				<string>HS04@14200000</string>
				<key>address</key>
				<string>14200000</string>
				<key>port</key>
				<string>04000000</string>
				<key>enabled</key>
				<true/>
			</dict>
			<key>05000000</key>
			<dict>
				<key>line</key>
				<string>              HS05@14300000  &lt;class AppleUSB20XHCIPort, id 0x100000328</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x10000032f</string>
				<key>name</key>
				<string>HS05</string>
				<key>type</key>
				<string>AppleUSB20XHCIPort</string>
				<key>items</key>
				<array/>
				<key>full_name</key>
				<string>HS05@14300000</string>
				<key>address</key>
				<string>14300000</string>
				<key>port</key>
				<string>05000000</string>
				<key>enabled</key>
				<true/>
			</dict>
			<key>06000000</key>
			<dict>
				<key>line</key>
				<string>              HS06@14400000  &lt;class AppleUSB20XHCIPort, id 0x100000329</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x100000330</string>
				<key>name</key>
				<string>HS06</string>
				<key>type</key>
				<string>AppleUSB20XHCIPort</string>
				<key>items</key>
				<array>
					<string>    - usb disk 2.0</string>
				</array>
				<key>full_name</key>
				<string>HS06@14400000</string>
				<key>address</key>
				<string>14400000</string>
				<key>port</key>
				<string>06000000</string>
				<key>enabled</key>
				<true/>
				<key>comment</key>
				<string>Type-C</string>
			</dict>
			<key>07000000</key>
			<dict>
				<key>line</key>
				<string>              HS07@14700000  &lt;class AppleUSB20XHCIPort, id 0x100000331</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x100000331</string>
				<key>name</key>
				<string>HS07</string>
				<key>type</key>
				<string>AppleUSB20XHCIPort</string>
				<key>items</key>
				<array>
					<string>    - usb disk 2.0</string>
				</array>
				<key>full_name</key>
				<string>HS07@14700000</string>
				<key>address</key>
				<string>14700000</string>
				<key>port</key>
				<string>07000000</string>
				<key>enabled</key>
				<true/>
				<key>comment</key>
				<string>Yellow USB 3.1 Left</string>
			</dict>
			<key>08000000</key>
			<dict>
				<key>line</key>
				<string>              HS08@14800000  &lt;class AppleUSB20XHCIPort, id 0x100000332</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x100000332</string>
				<key>name</key>
				<string>HS08</string>
				<key>type</key>
				<string>AppleUSB20XHCIPort</string>
				<key>items</key>
				<array>
					<string>    - usb disk 2.0</string>
				</array>
				<key>full_name</key>
				<string>HS08@14800000</string>
				<key>address</key>
				<string>14800000</string>
				<key>port</key>
				<string>08000000</string>
				<key>enabled</key>
				<true/>
				<key>comment</key>
				<string>Yellow USB 3.1 Right</string>
			</dict>
			<key>09000000</key>
			<dict>
				<key>line</key>
				<string>              HS09@14500000  &lt;class AppleUSB20XHCIPort, id 0x10000032a</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x100000333</string>
				<key>name</key>
				<string>HS09</string>
				<key>type</key>
				<string>AppleUSB20XHCIPort</string>
				<key>items</key>
				<array>
					<string>    - usb disk 2.0</string>
				</array>
				<key>full_name</key>
				<string>HS09@14500000</string>
				<key>address</key>
				<string>14500000</string>
				<key>port</key>
				<string>09000000</string>
				<key>enabled</key>
				<true/>
				<key>comment</key>
				<string>Font Left USB</string>
			</dict>
			<key>0a000000</key>
			<dict>
				<key>line</key>
				<string>              HS10@14600000  &lt;class AppleUSB20XHCIPort, id 0x10000032b</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x100000334</string>
				<key>name</key>
				<string>HS10</string>
				<key>type</key>
				<string>AppleUSB20XHCIPort</string>
				<key>items</key>
				<array>
					<string>    - usb disk 2.0</string>
				</array>
				<key>full_name</key>
				<string>HS10@14600000</string>
				<key>address</key>
				<string>14600000</string>
				<key>port</key>
				<string>0a000000</string>
				<key>enabled</key>
				<true/>
				<key>comment</key>
				<string>Front Right USB</string>
			</dict>
			<key>0b000000</key>
			<dict>
				<key>line</key>
				<string>              HS11@14700000  &lt;class AppleUSB20XHCIPort, id 0x10000032c</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x100000335</string>
				<key>name</key>
				<string>HS11</string>
				<key>type</key>
				<string>AppleUSB20XHCIPort</string>
				<key>items</key>
				<array>
					<string>    - USB2.0 Hub</string>
					<string>        - AppleUSB20InternalHub</string>
					<string>            - USB Device </string>
					<string>            - USB Device </string>
					<string>            - SADES Hammer</string>
					<string>            - usb disk 2.0</string>
					<string>        - AppleUSB20Hub</string>
				</array>
				<key>full_name</key>
				<string>HS11@14700000</string>
				<key>address</key>
				<string>14700000</string>
				<key>port</key>
				<string>0b000000</string>
				<key>enabled</key>
				<true/>
				<key>comment</key>
				<string>back-4-top-2.0-ports</string>
			</dict>
			<key>0c000000</key>
			<dict>
				<key>line</key>
				<string>              HS12@14800000  &lt;class AppleUSB20XHCIPort, id 0x10000032d</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x100000336</string>
				<key>name</key>
				<string>HS12</string>
				<key>type</key>
				<string>AppleUSB20XHCIPort</string>
				<key>items</key>
				<array>
					<string>    - ITE Device(8595)</string>
				</array>
				<key>full_name</key>
				<string>HS12@14800000</string>
				<key>address</key>
				<string>14800000</string>
				<key>port</key>
				<string>0c000000</string>
				<key>enabled</key>
				<true/>
			</dict>
			<key>0d000000</key>
			<dict>
				<key>line</key>
				<string>              HS13@14900000  &lt;class AppleUSB20XHCIPort, id 0x10000032e</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x100000337</string>
				<key>name</key>
				<string>HS13</string>
				<key>type</key>
				<string>AppleUSB20XHCIPort</string>
				<key>items</key>
				<array>
					<string>    - USB2.0 Hub</string>
				</array>
				<key>full_name</key>
				<string>HS13@14900000</string>
				<key>address</key>
				<string>14900000</string>
				<key>port</key>
				<string>0d000000</string>
				<key>enabled</key>
				<true/>
			</dict>
			<key>0e000000</key>
			<dict>
				<key>line</key>
				<string>              HS14@14e00000  &lt;class AppleUSB20XHCIPort, id 0x100000338</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x100000338</string>
				<key>name</key>
				<string>HS14</string>
				<key>type</key>
				<string>AppleUSB20XHCIPort</string>
				<key>items</key>
				<array>
					<string>    - IOBluetoothHostControllerUSBTransport</string>
				</array>
				<key>full_name</key>
				<string>HS14@14e00000</string>
				<key>address</key>
				<string>14e00000</string>
				<key>port</key>
				<string>0e000000</string>
				<key>enabled</key>
				<true/>
			</dict>
			<key>11000000</key>
			<dict>
				<key>line</key>
				<string>              SS01@14f00000  &lt;class AppleUSB30XHCIPort, id 0x100000339</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x100000339</string>
				<key>name</key>
				<string>SS01</string>
				<key>type</key>
				<string>AppleUSB30XHCIPort</string>
				<key>items</key>
				<array/>
				<key>full_name</key>
				<string>SS01@14f00000</string>
				<key>address</key>
				<string>14f00000</string>
				<key>port</key>
				<string>11000000</string>
			</dict>
			<key>12000000</key>
			<dict>
				<key>line</key>
				<string>              SS02@14000000  &lt;class AppleUSB30XHCIPort, id 0x10000033a</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x10000033a</string>
				<key>name</key>
				<string>SS02</string>
				<key>type</key>
				<string>AppleUSB30XHCIPort</string>
				<key>items</key>
				<array/>
				<key>full_name</key>
				<string>SS02@14000000</string>
				<key>address</key>
				<string>14000000</string>
				<key>port</key>
				<string>12000000</string>
			</dict>
			<key>13000000</key>
			<dict>
				<key>line</key>
				<string>              SS03@14a00000  &lt;class AppleUSB30XHCIPort, id 0x100000335</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x10000033b</string>
				<key>name</key>
				<string>SS03</string>
				<key>type</key>
				<string>AppleUSB30XHCIPort</string>
				<key>items</key>
				<array/>
				<key>full_name</key>
				<string>SS03@14a00000</string>
				<key>address</key>
				<string>14a00000</string>
				<key>port</key>
				<string>13000000</string>
			</dict>
			<key>14000000</key>
			<dict>
				<key>line</key>
				<string>              SS04@14b00000  &lt;class AppleUSB30XHCIPort, id 0x100000336</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x10000033c</string>
				<key>name</key>
				<string>SS04</string>
				<key>type</key>
				<string>AppleUSB30XHCIPort</string>
				<key>items</key>
				<array/>
				<key>full_name</key>
				<string>SS04@14b00000</string>
				<key>address</key>
				<string>14b00000</string>
				<key>port</key>
				<string>14000000</string>
			</dict>
			<key>15000000</key>
			<dict>
				<key>line</key>
				<string>              SS05@14c00000  &lt;class AppleUSB30XHCIPort, id 0x100000337</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x10000033d</string>
				<key>name</key>
				<string>SS05</string>
				<key>type</key>
				<string>AppleUSB30XHCIPort</string>
				<key>items</key>
				<array>
					<string>    - Silicon-Power16G</string>
				</array>
				<key>full_name</key>
				<string>SS05@14c00000</string>
				<key>address</key>
				<string>14c00000</string>
				<key>port</key>
				<string>15000000</string>
				<key>enabled</key>
				<true/>
			</dict>
			<key>16000000</key>
			<dict>
				<key>line</key>
				<string>              SS06@14d00000  &lt;class AppleUSB30XHCIPort, id 0x100000338</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x10000033e</string>
				<key>name</key>
				<string>SS06</string>
				<key>type</key>
				<string>AppleUSB30XHCIPort</string>
				<key>items</key>
				<array/>
				<key>full_name</key>
				<string>SS06@14d00000</string>
				<key>address</key>
				<string>14d00000</string>
				<key>port</key>
				<string>16000000</string>
			</dict>
			<key>17000000</key>
			<dict>
				<key>line</key>
				<string>              SS07@14500000  &lt;class AppleUSB30XHCIPort, id 0x10000033f</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x10000033f</string>
				<key>name</key>
				<string>SS07</string>
				<key>type</key>
				<string>AppleUSB30XHCIPort</string>
				<key>items</key>
				<array/>
				<key>full_name</key>
				<string>SS07@14500000</string>
				<key>address</key>
				<string>14500000</string>
				<key>port</key>
				<string>17000000</string>
			</dict>
			<key>18000000</key>
			<dict>
				<key>line</key>
				<string>              SS08@14600000  &lt;class AppleUSB30XHCIPort, id 0x100000340</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x100000340</string>
				<key>name</key>
				<string>SS08</string>
				<key>type</key>
				<string>AppleUSB30XHCIPort</string>
				<key>items</key>
				<array/>
				<key>full_name</key>
				<string>SS08@14600000</string>
				<key>address</key>
				<string>14600000</string>
				<key>port</key>
				<string>18000000</string>
			</dict>
			<key>19000000</key>
			<dict>
				<key>line</key>
				<string>              SS09@14e00000  &lt;class AppleUSB30XHCIPort, id 0x100000339</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x100000341</string>
				<key>name</key>
				<string>SS09</string>
				<key>type</key>
				<string>AppleUSB30XHCIPort</string>
				<key>items</key>
				<array/>
				<key>full_name</key>
				<string>SS09@14e00000</string>
				<key>address</key>
				<string>14e00000</string>
				<key>port</key>
				<string>19000000</string>
			</dict>
			<key>1a000000</key>
			<dict>
				<key>line</key>
				<string>              SS10@14f00000  &lt;class AppleUSB30XHCIPort, id 0x10000033a</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x100000342</string>
				<key>name</key>
				<string>SS10</string>
				<key>type</key>
				<string>AppleUSB30XHCIPort</string>
				<key>items</key>
				<array/>
				<key>full_name</key>
				<string>SS10@14f00000</string>
				<key>address</key>
				<string>14f00000</string>
				<key>port</key>
				<string>1a000000</string>
			</dict>
		</dict>
		<key>parent</key>
		<string>XHC@14</string>
		<key>parent_name</key>
		<string>XHC</string>
		<key>acpi_path</key>
		<string>IOACPIPlane:/_SB/PCI0@0/XHC@140000</string>
		<key>acpi_address</key>
		<string>0x00140000</string>
		<key>ioservice_path</key>
		<string>IOService:/AppleACPIPlatformExpert/PCI0@0/AppleACPIPCI/XHC@14/XHC@14000000</string>
	</dict>
</dict>
</plist>
